<div class="list">
    <h2 class="title">Populares</h2>

    <div class="grid">
      @for (midia of (midias | async)?.results; track midia.id) {
        <a class="midia" [routerLink]='["/detalhes", midia.id]'>
          <img
            class="image"
            [src]="midia.poster_path"
            [alt]="midia.title ?? midia.name"
          />
          <div class="info">
            <p>{{ formatarTitulo(midia.title ?? midia.name) }}</p>
            <small>Lançamento: {{ formatarData(midia.release_date ?? midia.first_air_date) }}</small>
            <span>⭐ {{ midia.vote_average | number:'1.1-1' }}</span>
          </div>
        </a>
      }
    </div>
  </div>